/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Page center */
body {
  height: 100vh;
  background-color: #f0f2f5;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main container */
.container {
  display: flex;
  gap: 60px;
  align-items: center;
}

/* Left section */
.left {
  max-width: 400px;
}

.logo {
  color: #1877f2;
  font-size: 56px;
  margin-bottom: 10px;
}

/* Right card */
.right {
  background: white;
  padding: 20px;
  width: 360px;
  border-radius: 8px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;

  border: 1px solid #ddd;
  border-radius: 6px;
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 12px;

  background: #1877f2;
  color: white;

  border: none;
  border-radius: 6px;
  font-size: 16px;

  cursor: pointer;
}

/* Forgot password */
.forgot {
  display: block;
  text-align: center;
  margin: 12px 0;

  color: #1877f2;
  text-decoration: none;
}

/* Divider */
hr {
  margin: 20px 0;
}

/* Create account button */
.create-btn {
  width: 100%;
  padding: 12px;

  background: #42b72a;
  color: white;

  border: none;
  border-radius: 6px;
  font-size: 16px;

  cursor: pointer;
}